body {
    font: "Courier";
    font-size: 24px;
    background-image: url(https://img.pngio.com/014-template-ideas-wanted-poster-free-wanteder-pics-cowboy-blank-wanted-poster-728_1120.jpg);
    ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

main {
    border-color: black;
    border-width: 1px;
    box-shadow: 2px 2px 5px black;
    margin: auto;
    padding: 2em;
    width: 80%;
    max-width: 800px;
    text-align: center;
    float: center;


}

header {
    background-color: saddlebrown;
    color: lightgray;
    text-align: center;


}

img {
    border: 20px solid white;
}    
    
    
    
